body {
    margin: 0;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
}

.container {
    background-color: #333;
    padding: 1rem;
    flex: 1;
    min-width: 20rem;
    min-height: 100vh;
}

.container:first-child {
    background-color: aquamarine;
}

.draggable {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    border-radius: .5rem;
    cursor: move;
    touch-action: none;
}

.draggable.dragging {
    opacity: .5;
}